body,
html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(249, 249, 239) 0%,
    rgb(226, 226, 212) 100%
  );
}

.hidden {
  transition: opacity 1.5s;
  opacity: 0.3;
}

.visible {
  transition: opacity 1.5s;
  opacity: 1;
}

.invisible {
  display: none !important;
}

.ver {
  display: block !important;
}

.audio-container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  min-width: 100px;
  max-width: 100px;
}

.music {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes falling-animation {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.falling-button {
  animation: falling-animation 1.5s ease forwards;
}

h1 {
  text-align: center;
  padding-top: 40px;
  font-family: "Dancing Script", cursive;
  margin: 0;
}

.fecha {
  font-family: "Dancing Script", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.percha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #d3bcb3;
}

.tiempo {
  text-align: center;
  margin: 0;
  font-family: "Dancing Script", cursive;
}

h1 {
  font-size: 3rem;
}

.mi-casa {
  padding-top: 10px;
  font-size: 2rem;
}

.fecha {
  font-size: 1rem;
}

.cuadro-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 170px;
  padding: 20px 40px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}

.cuadro-uno span {
  font-size: 0.95rem;
  padding: 0 30px;
  text-align: center;
  font-family: "Inclusive Sans", sans-serif;
}

.cuadro-uno p {
  font-family: "Inclusive Sans", sans-serif;
}

.cuadro-dos {
  width: 70%;
  height: 150px;
  margin: 40px auto;
  padding-top: 15px;
  background-color: #fff;
  border: 2px solid #6d6d6d;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.cuadro-imagen {
  width: 300px;
  height: 450.7042px;
  margin: 40px auto;
  background-color: #fff;
  border: 4px solid white;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.Foto {
  width: 100%;
  height: 100%;
}

.ubicacion {
  align-self: center;
}

.corazon {
  margin-top: 20px;
  width: 60%;
  padding: 0 20px;
  text-align: center;
}

.cuadro-cuatro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 270px;
  margin: 40px auto;
  padding-top: 15px;
  background-color: #fff;
  font-family: "Inclusive Sans", sans-serif;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.cuadro-cinco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 350px;
  margin: 40px auto;
  padding-top: 15px;
  background-color: #fff;
  border: 1px solid #6d6d6d;
  font-family: "Inclusive Sans", sans-serif;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.cuadro-seis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 170px;
  margin: 40px auto;
  padding-top: 15px;
  background-color: #fff;
  font-family: "Inclusive Sans", sans-serif;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.cuadro-siete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 240px;
  margin: 40px auto;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #fff;
  font-family: "Inclusive Sans", sans-serif;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(34, 34, 34, 0.3);
}

.cuadro-ocho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
}

.cuadro-ocho span {
  text-align: center;
  width: 70%;
}

.cuadro-siete span {
  text-align: center;
  width: 70%;
}

.cuadro-cinco span {
  text-align: center;
  padding: 5px 10px;
}

.cuadro-cuatro p {
  margin: 0;
  padding: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  margin-top: 20px;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6d6d6d;
  background-color: #d3bcb3;
  cursor: pointer;
}

.ita-final {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  margin: 10px auto;
}

.espero {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
}

.confirmar {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}

.tiempo-numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 30px 0;
}

.tiempo-container {
  position: relative;
}

.punto {
  position: absolute;
  font-family: "Dancing Script", cursive;
  top: -20px;
  right: -10px;
  font-size: 2rem;
  font-weight: 600;
}

.tiempo-numeros span {
  font-family: "Dancing Script", cursive;
  padding: 5px 5px;
}

.cuadro-cuatro .malla {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

.musica {
  margin: 20px 0 30px 0;
}

#cuadro-cuatro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px;
}

footer {
  height: 30px;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mi-dia {
  text-align: center;
  margin: 0;
  font-weight: 600;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  .section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .cuadro-uno,
  .cuadro-dos,
  .cuadro-imagen,
  .cuadro-cuatro,
  .cuadro-cinco,
  .cuadro-seis,
  .cuadro-siete {
    width: 35%;
  }
}
